<nav
  class="fixed top-0 left-0 z-50 flex items-center justify-center w-full h-20 shadow-md bg-mainColor1 rounded-br-2xl rounded-bl-2xl"
>
  <div class="flex items-center justify-between w-full h-16 px-6 mx-auto">
    <button (click)="show()" class="appearance-none focus:outline-none">
      <svg
        width="26"
        height="26"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 7H21"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M3 12H21"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M3 17H21"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <div class="flex items-center">
      <img
        routerLink="/"
        src="assets/img/logo.png"
        alt="PSoveLogo"
        loading="lazy"
        class="h-9"
      />
    </div>
    <ul class="flex items-center space-x-4">
      <li>
        <button
          type="button"
          (click)="openNotification()"
          class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-white"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
            <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
          </svg>
          @if (isAnewNotification) {
          <span
            class="absolute w-2 h-2 bg-red-600 rounded-full top-1.5 right-2.5"
          ></span>
          }
        </button>
      </li>
      <li>
        <div
          [routerLink]="
            currentPath.includes('leader')
              ? ['/profile/leader']
              : currentPath.includes('head_of_camp')
              ? ['/profile/head_of_camp']
              : ''
          "
          class="relative cursor-pointer"
        >
          <img
            class="object-cover w-10 h-10 border rounded-full border-mainColor1"
            [src]="profilePhoto || './../../../../../assets/img/user.jpeg'"
            alt="Avatar"
            loading="lazy"
          />
          <div class="absolute inset-0 rounded-full shadow-inner"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<app-notification
  [isOpen]="isOpenNotification"
  [newNotificationCheck]="newNotificationCheck"
/>
