<div class="mt-7">
  <!-- In Progress Section -->
  <div class="relative w-full mr-auto">
    <!-- Button to toggle the In Progress table -->
    <button (click)="toggleTables()" type="button" class="relative flex rounded-full w-full sm:w-fit text-sm">
      <div class="flex justify-between items-center gap-4 w-11/12 mx-auto sm:w-fit">
        <!-- Arrow icon with rotation class -->
        <img src="assets/img_trainee/arrow_down.svg" class="progress-arrow">

        <!-- In Progress button label -->
        <a class="flex items-center gap-2 px-4 py-2 uppercase text-xl cursor-pointer bg-[#2D91C7] w-fit sm:w-full rounded-[10px] text-white p-2 font-bold " role="menuitem" tabindex="-1">
          <img src="assets/img_trainee/progress.svg">
          <span>In Progress</span>
        </a>

        <!-- In Progress task count -->
        <span class="text-[#2A8E9E] font-semibold">{{inProgressTasks.length}}</span>
      </div>
    </button>

    <!-- In Progress Table -->
    <div class="content sm:ml-9 mt-4 min-w-full progress-table">
      <table class="w-full text-sm text-left">
        <!-- Table header -->
        <thead class="text-xs">
          <tr class="w-full flex items-center justify-between border-b border-[#D9D9D9]">
            <th class="px-1 py-3 text-xl font-medium text-[#777575]">Name</th>
            <th class="px-2 sm:px-4 text-xl font-medium text-[#EF4A50]">DeadLine</th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          @for(inProgress of inProgressTasks; track inProgress.id) {
            <tr class="border-b border-[#D9D9D9] relative">
              <th class="p-2 sm:p-4 font-medium text-base capitalize flex items-center justify-between">
                <div class="flex items-center gap-4">
                  <!-- Status toggle button -->
                  <div (click)="toggleList(inProgress.id)" class="cursor-pointer">
                    <img src="assets/img_trainee/progress-blue.svg">
                  </div>

                  <!-- Dropdown list for task status -->
                  <div [id]="inProgress.id" class="list flex flex-col w-fit absolute top-full left-0 z-10 min-h-fit">
                    <a (click)="changeTaskStatus(inProgress, 0)" class="flex items-center gap-2 px-4 py-2 uppercase text-xl cursor-pointer bg-[#979797] text-white p-2 font-bold w-full rounded-t-[10px]">To Do</a>
                    <a (click)="changeTaskStatus(inProgress, 1)" class="flex items-center gap-2 px-4 py-2 uppercase text-xl cursor-pointer bg-[#2D91C7] text-white p-2 font-bold w-full">In Progress</a>
                    <a (click)="changeTaskStatus(inProgress, 2)" class="flex items-center gap-2 px-4 py-2 uppercase text-xl cursor-pointer bg-[#52B788] text-white p-2 font-bold w-full rounded-b-[10px]">Done</a>
                  </div>
                  <span class="font-semibold text-[14px] sm:text-xl">{{inProgress.title}}</span>
                </div>
                <!-- Deadline date -->
                <span class="font-semibold text-[14px] sm:text-xl">{{inProgress.startTime.split('T')[0]}}</span>
              </th>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
