.allfounders {
  border: 1px solid #002c3d;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #002c3d;
}
@media screen and (max-width: 640px) {
  .allfounders {
    border: 0.25px solid rgba(0, 44, 61, 0.16);
    border-radius: 14px;
  }
  h2 {
    font-size: 30px;
  }
}
