<section class=" ">
  <div class="header my-14 mb-24" >
    <h1>
      Popular Camps
    </h1>
  </div>
  <div class="flex gap-7 px-10">
  <div class="card p-3 flex flex-col  border rounded-xl flex-1">
    <div class="img">
      <img ngSrc="assets/img_public/camps_img/card_img.png" width="500" height="250" alt="card-img">
    </div>
    <div class="text">
      <h4>NewComer</h4>
      <p class="my-2">
        Learning programming Fundamentals
        like Datatype, If conditions,Arrays,Loops
        Recursion . No need any previous informations
        about programming or any coding skills
        only needs laptop.
      </p>
    </div>
  </div>
  <div class="card p-3 flex flex-col  border rounded-xl flex-1">
    <div class="img">
      <img ngSrc="assets/img_public/camps_img/card_img.png" width="500" height="250" alt="card-img">
    </div>
    <div class="text">
      <h4>Phase 1</h4>
      <p class="my-2">
        Learning Data structures like Stack,Queue,Map,Set and some of algorthims like
        Binary search and Two pointers. To join you need to passing most
        of Newcomer problems and passing qualification contest
        for Phase1 camp
      </p>
    </div>
  </div>
  <div class="card p-3 flex flex-col  border rounded-xl flex-1">
    <div class="img">
      <img ngSrc="assets/img_public/camps_img/card_img.png" width="500" height="250" alt="card-img">
    </div>
    <div class="text">
      <h4>Phase 2</h4>
      <p>
        Advanced camp where you learn
        alot of popular algorhtims like DP,DFS,BFS,Hashtable,Recursion,
        Tarjan algorthim  and DSU.
        To join you need to be solved most of Newcomer and phase1
        problems and passing qualification
        contest with high rating.
      </p>
    </div>
  </div>

  </div>
</section>

