<div
  style="min-height: calc(100vh - 71px)"
  class="relative w-full bg-[#f4f5f8] p-4 space-y-4 sm:p-6 sm:ps-4 sm:space-y-6"
>
  <div class="flex flex-col px-12 pt-4 pb-8 bg-white rounded-xl">
    <h2 class="pb-4 text-2xl font-bold border-b-2">Assign Trainees</h2>

    <div class="flex items-center px-2 mt-4 gap-x-10">
      <div class="w-[65%] flex items-center justify-between">
        <h1 class="text-xl font-bold">Trainees</h1>
        <input
          class="w-[280px] px-3 py-2.5 pl-4 leading-tight text-gray-800 transition-colors ring-1 ring-gray-300 rounded-lg appearance-none hover:ring-gray-400 focus:outline-none focus:ring-mainblue focus:border-mainblue focus:shadow-outline"
          id="searchInput"
          type="text"
          (keyup)="onSearchInput($event)"
          placeholder="Search for Trainees"
        />
        <div class="relative">
          <ng-select
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="id"
            formControlName="sortNumber"
            (change)="sortTrainee($event)"
            placeholder="Sort By"
            class="relative block w-40 h-10 my-2 !text-white appearance-none rounded-xl !placeholder:text-white bg-mainblue cursor-none focus:outline-none"
          >
            <ng-option [value]="0">Year</ng-option>
            <ng-option [value]="1">Gender</ng-option>
            <ng-option [value]="2">College</ng-option>
          </ng-select>
          <svg
            width="24"
            height="24"
            [ngClass]="{ 'rotate-180': focusOrder }"
            class="absolute z-[1100] top-[14px] left-32 text-white transition-transform"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
              stroke="#fff"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <h1 class="text-xl font-bold">Mentors</h1>
    </div>
  </div>

  <div class="flex gap-x-2">
    <div
      style="max-height: calc(100vh - 315px)"
      class="w-8/12 overflow-y-auto scroll-host-table pe-1.5"
    >
      @if( isLoading()) {
      <div class="fixed z-50 top-[60%] lg:left-[40%] bg-opacity-60">
        <div class="flex items-center">
          <div
            class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
          ></div>
        </div>
      </div>
      } @else {
      <table class="relative w-full text-center">
        <thead class="sticky top-0">
          <tr class="bg-[#F4F5F8] text-[#6B7088]">
            <th class="pb-4 text-left ps-4">Name</th>
            <th class="pb-4">Year</th>
            <th class="pb-4">College</th>
            <th class="pb-4">Gender</th>
            <th class="flex items-center justify-center pb-4">Add to Mentor</th>
          </tr>
        </thead>

        <tbody>
          @for (item of allTrainees; track $index) {
          <tr
            class="my-6 text-base font-medium text-center text-black bg-white rounded-lg"
          >
            <td class="flex items-center p-4 rounded-s-lg gap-x-2">
              <div class="w-8 h-8">
                <img
                  [src]="
                    item.photoUrl || './../../../../../assets/img/user.jpeg'
                  "
                  [alt]="item.firstName"
                  class="object-cover w-full h-full rounded-full"
                />
              </div>
              <span>
                {{ item.firstName }} {{ item.middleName }} {{ item.lastName }}
              </span>
            </td>
            <td class="p-4">{{ item.grade }}</td>
            <td class="p-4">{{ item.college }}</td>
            <td class="p-4">{{ item.gender }}</td>
            <!-- (click)="showSideBar(item.id)" -->
            <td
              (click)="addToMentor(item)"
              class="p-4 cursor-pointer rounded-e-lg text-3xl text-[#6B7088]"
            >
              +
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
    <div
      style="max-height: calc(100vh - 315px)"
      class="w-4/12 overflow-y-auto scroll-host-table pe-1.5"
    >
      @if( isLoading2()) {
      <div class="fixed z-50 top-[60%] lg:left-[80%] bg-opacity-60">
        <div class="flex items-center">
          <div
            class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
          ></div>
        </div>
      </div>
      } @else {

      <div class="relative w-full h-auto mt-12">
        @for (mentor of allMentor; track $index) {
        <div
          (click)="handleSelectMentor(mentor)"
          class="flex items-center justify-between w-full p-4 mb-4 bg-white border-2 rounded-lg cursor-pointer"
          [ngClass]="
            mentor.id === selectedMentor?.id ? 'border-2 border-blue-500' : ''
          "
        >
          <div class="h-full text-[15px] self-start text-[#6B7088]">
            <p>{{ mentor.firstName }} {{ mentor.middleName }}</p>
            <p class="text-xs">{{ mentor.college }} | {{ mentor.grade }}</p>
          </div>
          <div
            class="flex items-center scale-0 flex-wrap w-[14rem] gap-y-2 justify-end gap-x-2"
            [ngClass]="{
                  'scale-100': selectedMentor === mentor,
              }"
          >
            @for (trainee of mentor.trainees; track $index) {
            <div
              (mouseenter)="handleHoverShow(trainee.id)"
              (mouseleave)="handleHoverHide()"
              class="relative inline-block cursor-pointer"
            >
              <img
                [src]="
                  trainee.photoUrl || './../../../../../assets/img/user.jpeg'
                "
                [alt]="trainee.firstName"
                class="object-cover border border-gray-300 rounded-full w-9 h-9"
              />
              <button
                class="absolute -top-1 -right-1 text-xs h-4 w-4 text-white bg-[#3D91C7] rounded-full"
                (click)="removeFromMentor(trainee, mentor)"
              >
                X
              </button>
              @if (isHover && tranieeId === trainee.id) {
              <p
                class="absolute px-2 py-1 text-xs font-semibold text-black bg-white border-2 rounded-md shadow-md -top-8 -right-3 min-w-max"
              >
                {{ trainee.firstName }} {{ trainee.middleName }}
                {{ trainee.lastName }}
              </p>
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
