/* Slider Container */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  gap: 40px;
  padding: 30px 70px;
  animation: slide 5s linear infinite;
  justify-content: flex-start;
  align-items: center;
}

.slide img {
  max-width: 220px;
}

/* تحريك السلايدر بشكل دائري */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* للتأكد من التوافق مع الأجهزة الصغيرة */
@media screen and (max-width: 640px) {
  h2 {
    font-size: 30px;
  }
  .slider {
    gap: 7px;
    padding: 20px;
    animation: slide 3s linear infinite;
  }
}
