/* Slider Container */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  gap: 40px;
  padding: 30px 70px;
  animation: slide 8s linear infinite;
  justify-content: flex-start;
  align-items: center;
}
.slide img {
  max-width: 220px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700%);
  }
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 30px;
  }
  .slider {
    gap: 7px;
    padding: 20px;
    animation: slide1 12s linear infinite;
  }
}
