<div class="flex flex-col w-full">
  <h1
    class="absolute top-7 font-bold hidden md:block z-[50] text-2xl transition-all duration-500"
    [ngClass]="ocSidebarService.isOpen() === 'show' ? ' left-80' : ' left-36'"
  >
    Manage Requests
  </h1>

  <div class="flex items-center justify-between pb-4 border-b-2 md:hidden">
    <h1 class="text-lg font-bold transition-all duration-500">
      Manage Requests
    </h1>
    <div class="flex items-center justify-between gap-x-2">
      <div class="relative flex items-center gap-x-2">
        <ng-select
          [items]="allCamps"
          [closeOnSelect]="true"
          bindLabel="name"
          bindValue="id"
          (change)="chooseCamp($event)"
          placeholder="Camps"
          class="relative block w-[7.5rem] h-10 my-2 text-xs font-semibold appearance-none text-mainColor4 bg-mainColor1 rounded-xl cursor-none focus:outline-none"
        >
        </ng-select>
        <svg
          width="18"
          height="18"
          class="absolute top-[18px] left-[96px] transition-transform"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
            stroke="#eee"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="relative flex items-center gap-x-2">
        <ng-select
          [closeOnSelect]="true"
          bindLabel="name"
          bindValue="id"
          (change)="sortTrainee($event)"
          placeholder="Sort by"
          class="relative block w-24 h-10 my-2 text-xs font-semibold appearance-none text-mainColor4 bg-mainColor1 rounded-xl cursor-none focus:outline-none"
        >
          <ng-option [value]="0">College</ng-option>
          <ng-option [value]="1">Year </ng-option>
          <ng-option [value]="2">Gender</ng-option>
          <ng-option [value]="3">HasLaptop </ng-option>
        </ng-select>
        <svg
          width="18"
          height="18"
          class="absolute top-[18px] left-[70px] transition-transform"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
            stroke="#eee"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>

  <div class="flex flex-col mt-4 space-y-10 md:mt-0">
    <div class="flex items-center justify-end md:justify-between">
      <div class="items-center justify-between hidden md:flex gap-x-6">
        <div class="relative flex items-center text-lg gap-x-4">
          <ng-select
            [items]="allCamps"
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="id"
            (change)="chooseCamp($event)"
            placeholder="Camps"
            class="relative block w-40 h-10 my-2 text-sm font-semibold appearance-none placeholder:text-sm text-mainColor4 bg-mainColor1 rounded-xl cursor-none focus:outline-none"
          >
          </ng-select>
          <svg
            width="24"
            height="24"
            class="absolute top-[14px] left-[125px] transition-transform"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
              stroke="#eee"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="relative flex items-center text-lg gap-x-4">
          <ng-select
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="id"
            (change)="sortTrainee($event)"
            placeholder="Sort by"
            class="relative block w-32 h-10 my-2 text-sm font-semibold appearance-none text-mainColor4 bg-mainColor1 rounded-xl cursor-none focus:outline-none"
          >
            <ng-option [value]="0">College</ng-option>
            <ng-option [value]="1">Year </ng-option>
            <ng-option [value]="2">Gender</ng-option>
            <ng-option [value]="3">HasLaptop </ng-option>
          </ng-select>
          <svg
            width="24"
            height="24"
            class="absolute top-[14px] left-[95px] transition-transform"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
              stroke="#eee"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="flex items-center gap-x-4 md:gap-x-6">
        <label class="flex items-center gap-x-2">
          <input
            type="checkbox"
            id=""
            class="hidden"
            (change)="systemFilter($event)"
          />
          <div
            class="flex items-center justify-center border rounded-md bg-mainColor1 border-subColor1 md:size-7 size-5"
            [class.bg-mainColor1]="applySystemFilter"
          ></div>
          <span class="text-sm font-semibold md:text-base text-mainColor1"
            >System Filter</span
          >
        </label>
        <button
          (click)="showConfirmFilter()"
          class="flex items-center md:px-6 px-4 py-1.5 text-sm md:text-base font-semibold text-mainColor4 rounded-xl w-fit bg-mainColor1"
        >
          Custom Filter
        </button>
      </div>
    </div>

    <div style="height: calc(100vh - 270px)">
      @if (campId !== 0) {
      <div
        class="flex flex-col pb-4 overflow-x-auto rounded-lg custom-scrollbar-request"
      >
        <table
          class="w-full text-[13px] md:text-sm text-center bg-white rounded-lg table-auto text-mainColor1"
        >
          <thead class="sticky top-0 z-[5] shadow-sm font-bold bg-[#DEDFE1]">
            <tr>
              <th class="sticky left-0 bg-[#DEDFE1] z-[5] p-4">
                <label>
                  <input
                    type="checkbox"
                    class="hidden"
                    (change)="toggleAll($event)"
                  />
                  <svg
                    width="13"
                    height="14"
                    viewBox="0 0 13 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.04001 0.00999451C0.910009 0.00999451 0 0.909999 0 2.03V9.43001C0 10.55 0.90002 11.45 2.02002 11.57H5.39001C5.76001 11.45 6.06003 11.15 6.06003 10.78C6.06003 10.41 5.39001 9.86 5.39001 9.86H1.95001C1.59001 9.86 1.29001 9.57 1.29001 9.2V1.97C1.29001 1.6 1.59002 1.3 1.96002 1.3H9.64001C9.99002 1.3 10.28 1.6 10.28 1.97V5.31C10.28 5.64 10.5 5.95 10.83 6C11.23 6.06 11.57 5.74 11.57 5.33V5.39V2.02C11.57 0.900004 10.67 0 9.55002 0H2.05002L2.04001 0.00999451ZM6.67001 6.00999L7.33002 11.77C7.35002 11.95 7.52001 12.09 7.70001 12.07C7.79001 12.06 7.88002 12.01 7.93002 11.94L9.20001 10.23L11 12.91C11.2 13.22 11.62 13.31 11.93 13.11C12.24 12.91 12.33 12.49 12.13 12.18C12.13 12.18 12.13 12.17 12.12 12.16L10.32 9.48L12.28 8.89999C12.46 8.84999 12.56 8.66 12.51 8.48C12.48 8.39 12.42 8.32 12.34 8.27L7.15002 5.67C6.98002 5.59 6.78001 5.65001 6.70001 5.82001C6.67001 5.88001 6.66001 5.93999 6.67001 6.00999Z"
                      fill="#002C3D"
                    />
                  </svg>
                </label>
              </th>
              <th class="sticky z-[5] px-4 py-3 text-left bg-[#DEDFE1] left-11">
                Name
              </th>
              <th class="px-4 py-3">Codeforces</th>
              <th class="px-4 py-3 whitespace-nowrap">Has laptop</th>
              <th class="px-4 py-3">Year</th>
              <th class="px-4 py-3">Collage</th>
              <th class="px-4 py-3">University</th>
              <th class="px-4 py-3 whitespace-nowrap">Attend onSite</th>
              <th class="px-4 py-3">Gender</th>
              <th class="px-4 py-3">Email</th>
              <th class="px-4 py-3">Comment</th>
              <th class="px-4 py-3">Phone</th>
              <th class="px-4 py-3 whitespace-nowrap">National ID</th>
              <th class="px-4 py-3 whitespace-nowrap">Facebook link</th>
              <th class="px-4 py-3 whitespace-nowrap">Birth date</th>
              <th class="px-4 py-3">Vjudge</th>
            </tr>
          </thead>
          <tbody>
            @if (!isLoading()) { @for (row of allTraineesInfo.data; track i; let
            i = $index; let first = $first) {
            <tr
              class="font-semibold border-b-8 border-mainColor4"
              [class.border-t-8]="first"
              [class.bg-mainColor3]="this.selectedIds.includes(row.id)"
            >
              <td
                class="sticky left-0 z-[4] p-4"
                [ngClass]="
                  this.selectedIds.includes(row.id)
                    ? 'bg-mainColor3'
                    : 'bg-white'
                "
              >
                <label class="cursor-pointer size-5">
                  <input
                    type="checkbox"
                    class="hidden"
                    (change)="toggleItem(row.id, $event)"
                  />
                  <div
                    class="flex items-center justify-center border rounded-md bg-mainColor1 border-subColor1 size-4"
                    [class.bg-mainColor1]="selectedIds.includes(row.id)"
                  ></div>
                </label>
              </td>
              <td
                class="sticky px-4 py-2 text-left z-[5] left-11 whitespace-nowrap"
                [ngClass]="
                  this.selectedIds.includes(row.id)
                    ? 'bg-mainColor3'
                    : 'bg-white'
                "
              >
                {{ row.firstName }} {{ row.middleName }} {{ row.lastName }}
              </td>
              <td class="px-4 py-2">
                {{ row.codeForceHandle || "-" }}
              </td>
              <td class="px-4 py-2">@if (row.hasLaptop) { Yes }@else { No }</td>
              <td class="px-4 py-2">{{ row.grade }}</td>
              <td class="px-4 py-2 whitespace-nowrap">
                {{ row.college }}
              </td>
              <td class="px-4 py-2 whitespace-nowrap">
                {{ row.university }}
              </td>
              <td class="px-4 py-2 whitespace-nowrap">
                @if (row.acceptAttendType) { Yes }@else { No }
              </td>
              <td class="px-4 py-2">
                @if (row.gender === 0) { Male }@else { Female }
              </td>
              <td class="px-4 py-2">
                {{ row.email }}
              </td>
              <td class="px-4 py-2 truncate">
                {{ row.comment || "-" }}
              </td>
              <td class="px-4 py-2">
                {{ row.phoneNumber || "-" }}
              </td>
              <td class="px-4 py-2">
                {{ row.nationalId || "-" }}
              </td>
              <td class="px-4 py-2">
                @if (row.facebookLink) {
                <a
                  [href]="row.facebookLink"
                  target="_blank"
                  class="transition-colors hover:text-activeLink"
                  >Profile</a
                >
                }@else { - }
              </td>
              <td class="px-4 py-2 whitespace-nowrap">
                {{ row.birthDate }}
              </td>
              <td class="px-4 py-2">
                {{ row.vjudge || "-" }}
              </td>
            </tr>
            } } @else { @for ( i of [1, 2, 3]; track i) {
            <tr class="border-b-8 animate-pulse border-mainColor4">
              <td class="py-2 text-center ps-2">
                <div class="w-5 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="px-4 py-2 text-center">
                <div class="h-5 rounded md:w-40 bg-mainColor3"></div>
              </td>
              <td class="py-2 text-center md:w-32 lg:ps-2">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 px-4 py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 px-4 py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 py-2 text-center lg:ps-2">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 px-4 py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 py-2 text-center lg:ps-2">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 px-4 py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 py-2 text-center lg:ps-2">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 px-4 py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
              <td class="w-32 px-4 py-2 text-center">
                <div class="w-24 h-5 rounded bg-mainColor3"></div>
              </td>
            </tr>
            } }
          </tbody>
          <tfoot class="bg-[#DEDFE1] rounded-lg">
            <tr>
              <td colspan="16" class="p-3 rounded-bl-lg rounded-br-lg"></td>
            </tr>
          </tfoot>
        </table>
        <!-- <div
          class="flex items-center justify-center w-full p-2 bg-[#DEDFE1] space-x-2 text-sm font-semibold rounded-lg"
        > -->
        <!-- [class.mt-4]="!isLoading() ? allTraineesInfo.data.length === 0 : ''" -->
        <!-- <button
            class="px-6 py-[10px] rounded-tl rounded-bl shadow bg-mainColor4 hover:bg-gray-100 disabled:opacity-50"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)"
          >
            <svg
              width="8"
              height="11"
              class="rotate-180"
              viewBox="0 0 8 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.55975 3.71667L3.11968 0.85C2.60968 0.425 1.78973 0.425 1.28973 0.85C0.779727 1.275 0.779727 1.95833 1.28973 2.375L4.55975 5.09166C4.78975 5.31666 4.82975 5.66667 4.55975 5.88334L1.28973 8.60833C0.779727 9.03333 0.779727 9.71667 1.28973 10.1333C1.79973 10.5583 2.61968 10.5583 3.11968 10.1333L6.55975 7.26666C8.02975 6.04166 8.09975 4.99167 6.55975 3.7V3.71667Z"
                fill="#002C3D"
              />
            </svg>
          </button>

          @for (page of pages; track $index) {
          <button
            class="px-6 py-1.5 shadow"
            [ngClass]="
              currentPage === page
                ? 'bg-mainColor1 text-mainColor4 font-bold'
                : 'bg-mainColor4 hover:bg-gray-100'
            "
            (click)="changePage(page)"
          >
            {{ page }}
          </button>
          } @if ( showEllipsis ) {
          <span class="px-6 py-1.5">...</span>
          } @if (showLastPage) {
          <button
            class="px-6 py-1.5 shadow bg-mainColor4 hover:bg-gray-100"
            (click)="changePage(totalPages)"
          >
            {{ totalPages }}
          </button>
          }
          <button
            class="px-6 py-[10px] rounded-tr rounded-br shadow bg-mainColor4 hover:bg-gray-100 disabled:opacity-50"
            [disabled]="currentPage === totalPages"
            (click)="changePage(currentPage + 1)"
          >
            <svg
              width="8"
              height="11"
              viewBox="0 0 8 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.55975 3.71667L3.11968 0.85C2.60968 0.425 1.78973 0.425 1.28973 0.85C0.779727 1.275 0.779727 1.95833 1.28973 2.375L4.55975 5.09166C4.78975 5.31666 4.82975 5.66667 4.55975 5.88334L1.28973 8.60833C0.779727 9.03333 0.779727 9.71667 1.28973 10.1333C1.79973 10.5583 2.61968 10.5583 3.11968 10.1333L6.55975 7.26666C8.02975 6.04166 8.09975 4.99167 6.55975 3.7V3.71667Z"
                fill="#002C3D"
              />
            </svg>
          </button> -->
        <!-- </div> -->
      </div>

      @if (showModalDelete) {
      <app-delete-confirm-modal
        (closeModal)="handleClose($event)"
        [selectedIds]="selectedIds"
        [label]="'request'"
      />
      <!-- showFilterModel -->
      } @if (showFilterModel) {
      <div
        class="fixed inset-0 z-[150] pt-32 md:pt-20 flex items-start justify-center bg-black bg-opacity-50"
        (click)="closeModalOnOutsideClick($event)"
      >
        <div
          class="w-full md:max-w-[665px] max-w-[400px] md:p-6 p-4 bg-[#F4F5F8] rounded-2xl"
          (click)="$event.stopPropagation()"
        >
          <app-system-filter
            (saveFilter)="handleSaveFilter($event)"
            (closeModal)="closeConfirmFilter()"
            [codeforcesFilters]="codeforcesFilters"
            [vjudgeFilters]="vjudgeFilters"
          />
        </div>
      </div>
      } @if (!isLoadingSubmit()) { @if (showSubmitModel) {
      <app-success-message (closeModal)="closeRequestMessage()" />
      } } }@else {
      <div
        class="flex items-center justify-center text-lg font-bold text-mainColor2 h-72"
      >
        <p>Choose Camp To Show Data</p>
      </div>
      }
    </div>
  </div>

  <div class="flex items-center justify-end">
    <div class="flex items-center text-mainColor4 gap-x-6">
      @if (isLoadingSubmit()) {
      <div class="flex items-center py-1 gap-x-2">
        <span class="sr-only">Loading...</span>
        <div
          class="h-2 w-2 bg-mainColor1 rounded-full animate-bounce [animation-delay:-0.3s]"
        ></div>
        <div
          class="h-2 w-2 bg-mainColor1 rounded-full animate-bounce [animation-delay:-0.15s]"
        ></div>
        <div class="w-2 h-2 rounded-full bg-mainColor1 animate-bounce"></div>
      </div>
      }@else {
      <button
        (click)="submitRequests()"
        [disabled]="selectedIds.length === 0"
        class="flex items-center px-6 py-2 font-semibold rounded-full disabled:cursor-not-allowed gap-x-3 bg-mainColor1"
      >
        <span class="border-e-2 pe-2">Submit</span>
        <svg
          width="20"
          height="14"
          viewBox="0 0 20 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 7L7 13L19.0212 1"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      }
      <button
        (click)="showConfirmDelete()"
        [disabled]="selectedIds.length === 0"
        class="flex items-center px-6 py-2 disabled:cursor-not-allowed font-semibold text-white rounded-full gap-x-2 bg-[#F1585B]"
      >
        <span class="border-e-2 pe-2">Delete</span>
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18.8484 9.14001L18.1984 19.21C18.0884 20.78 17.9984 22 15.2084 22H8.78844C5.99844 22 5.90844 20.78 5.79844 19.21L5.14844 9.14001"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.3281 16.5H13.6581"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.5 12.5H14.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
