.achievements{
  min-height: 200dvh;
  .headers{
    h1{
      font-family: Cormorant;
      font-size: 60px;
      font-weight: 400;
      line-height: 84.77px;
      text-align:start;
      text-transform: uppercase;
    }
    ::after{
      content: '';
      position: absolute;
      height: 3px;
      width: 27%;
      background: #000;
      left: 0;
      bottom: 0;
    }
  }
  .left-circale{
    width: 1100px;
    height: 1050px;
    background: #3D91C724;
    border-radius: 50%;
    right: 60%;
    top: 40%;
    z-index: -1;
  }
}
.box{
  border: 1px solid #ccc;
  border-radius: 26px;
  p{
    font-family: Inter;
    font-size: 50px;
    font-weight: 600;
    line-height: 72.61px;
    text-align: left;

  }
  .badge{
    span{
      font-family: Lato;
      font-size: 40px;
      font-weight: 500;
      line-height: 48px;
      text-align: center;

    }
  }

}
