table {
  border-collapse: separate;
  border-spacing: 0px 12px;
}

.custom-scrollbar-side::-webkit-scrollbar {
  display: none;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #fff !important;
}
