h1{
  // font-family: Mulish;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
}
h4{
  font-size: 30px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
}
p{
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  .text-muted{
    color: #6B7088;
  }
  .text-gold{
    color: #D59021;
  }
}
.flag{
  font-size: 24px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: center;
  color: #3F6C7F;
}
