<div class="relative w-[200px] text-mainColor1 font-semibold">
  <div class="flex items-center bg-white border rounded-xl">
    <input
      type="text"
      placeholder="Search role"
      (focus)="onDropdownFocus()"
      (blur)="closeDropdown()"
      #search
      (keyup)="onSearch(search.value)"
      [ngClass]="
        dropdownOpen()
          ? 'placeholder:text-sm placeholder:text-gray-600'
          : 'placeholder:text-sm placeholder:text-black'
      "
      class="h-[28px] w-full px-4 py-2 focus:outline-none rounded-s-xl"
    />
    <svg
      [ngClass]="dropdownOpen() ? 'rotate-180' : ''"
      class="mr-2 transition-transform size-5"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
        stroke="#002C3D"
        stroke-width="1.5"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  @if (dropdownOpen()) {
  <ul
    class="absolute left-0 mt-4 bg-mainColor4 shadow-lg custom-scrollbar-roles font-semibold w-[230px] rounded-xl h-fit"
  >
    @for (role of filteredRoles; track role.name; let first = $first ; let last
    = $last) {
    <li
      class="flex items-center justify-between px-3 py-2 text-sm transition-colors border-b cursor-pointer hover:text-mainColor4 hover:bg-subColor1 border-b-mainColor1"
      (click)="selectRole(role)"
      [class.rounded-tr-xl]="first"
      [class.rounded-tl-xl]="first"
      [class.rounded-bl-xl]="last"
      [class.rounded-bl-xl]="last"
    >
      {{ role.name }}
    </li>
    @if (selectedRole?.name === role.name) { @if (dropdownCampForT) {
    <ul
      class="w-full overflow-y-scroll text-sm custom-scrollbar-camp border-b border-mainColor1 h-[95px] ps-5"
    >
      @for (item of allCamps; track $index) {
      <li
        (click)="selectCamp(item)"
        class="cursor-pointer flex items-center gap-x-1.5 py-1.5"
      >
        <p class="border border-black rounded-full min-w-3 min-h-3"></p>
        <span> {{ item.name }}</span>
      </li>
      }
    </ul>
    } } @if (selectedRole?.name === role.name) { @if (dropdownCampForH) {
    <ul
      class="w-full overflow-y-scroll text-sm custom-scrollbar-camp border-b border-mainColor1 h-[95px] ps-5"
    >
      @for (item of allCamps; track $index) {
      <li
        (click)="selectCamp(item)"
        class="cursor-pointer flex items-center gap-x-1.5 py-1.5"
      >
        <p class="border border-black rounded-full min-w-3 min-h-3"></p>
        <span> {{ item.name }}</span>
      </li>
      }
    </ul>
    } } }
  </ul>
  }
</div>
