.scroll-select::-webkit-scrollbar {
  width: 6px !important;
}
.scroll-select::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll-select::-webkit-scrollbar-thumb {
  background: #285c6a;
  border-radius: 10px;
}

.scroll-select::-webkit-scrollbar-thumb:hover {
  background: #555;
}
