<section class="coaches mt-28 relative" id="coaches">
   <div class="headers ml-28  relative ">
     <h1 class="my-36">
       Coaches
     </h1>
   </div>
   <div class="right-circale w-fit absolute ">
   </div>
   <div class="flex justify-between items-center w-6/12 mx-auto">
       <div class="card flex flex-col items-center gap-4">
         <img ngSrc="assets/img_public/coach_1.png" width="300" height="300" class="w-1/2">
         <h4>Mahmoud Hamdy</h4>
       </div>
       <div class="card flex flex-col items-center gap-4">
         <img ngSrc="assets/img_public/coach_2.png" width="300" height="300" class="w-1/2">
         <h4>Hussien Ibrahiem</h4>
       </div>
   </div>

</section>
