<section class="flex items-stretch justify-end">
  <div class="wave absolute -z-10">
    <img ngSrc="assets/img_public/camps_img/top-wave.svg" width="700" height="700"  class="w-full">
  </div>
  <div class="content max-w-screen-xl mx-auto flex items-center justify-center self-end">
    <div class="text">
      <h1>
        Welcome to the ICPC <span>SOHAG</span> Camps
      </h1>
      <p>
        Our camps are characterized with consistency and  accuracy.
        provide sessions and contests for every week in training. Seeking to track trainees progress.
      </p>
    </div>
    <div class="img ml-auto">
      <img ngSrc="assets/img_public/camps_img/header_person.svg" width="550" height="60" class="ml-auto" alt="svg-person">
    </div>
  </div>
</section>
