<div
  class="fixed inset-0 z-[150] flex items-center justify-center bg-black bg-opacity-50"
>
  <div
    class="relative flex flex-col items-center justify-center w-full max-w-lg px-8 py-10 border-2 shadow-lg border-mainColor1 bg-mainColor4 rounded-2xl"
  >
    <span
      (click)="cancel()"
      class="absolute text-lg font-semibold transition-colors cursor-pointer top-4 right-5 hover:text-red-500"
      >X</span
    >
    @if (isLoading()) {
    <div class="bg-opacity-60">
      <div class="flex items-center">
        <div
          class="w-12 h-12 border-8 border-dashed rounded-full border-mainColor1 animate-spin"
        ></div>
      </div>
    </div>
    } @else { @if (isEmpty === false) {
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-center text-mainColor1"
    >
      Are you sure you want to empty this camp?
    </h3>
    }@else {
    <div class="flex items-center justify-center w-full gap-x-4">
      <svg
        width="46"
        height="46"
        viewBox="0 0 46 46"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M23.2997 0.160156C10.8297 0.160156 0.719727 10.2701 0.719727 22.7401C0.719727 35.2101 10.8297 45.3201 23.2997 45.3201C35.7697 45.3201 45.8797 35.2101 45.8797 22.7401C45.8797 10.2701 35.7697 0.160156 23.2997 0.160156ZM38.5597 16.4901L21.7797 33.6902C20.5197 34.9902 18.4697 34.9902 17.1997 33.6902L8.03973 24.3102C6.77973 23.0102 6.77973 20.9101 8.03973 19.6201C9.29973 18.3201 11.3497 18.3201 12.6197 19.6201L19.4897 26.6602L33.9897 11.8102C35.2497 10.5202 37.2997 10.5202 38.5697 11.8102C39.8297 13.1102 39.8297 15.2102 38.5697 16.5002L38.5597 16.4901Z"
          fill="#F8444F"
        />
      </svg>
      <h3 class="text-xl font-semibold text-mainColor1">
        Camp emptied successfully!!
      </h3>
    </div>
    } } @if (!isLoading() && !isEmpty) {
    <div
      class="flex items-center justify-center w-full mt-10 text-lg font-semibold lg:w-2/3 gap-x-6 text-mainColor4"
    >
      <button (click)="confirm()" class="px-6 py-1 rounded-md bg-mainColor1">
        Yes
      </button>
      <button
        (click)="cancel()"
        type="button"
        class="px-6 py-1 rounded-md bg-mainColor2"
      >
        No
      </button>
    </div>
    }
  </div>
</div>
