<div
  class="flex flex-col justify-start w-full h-full mt-20 font-montserrat md:ps-6 md:pe-8"
>
  <div class="flex flex-col mb-6 w-fit">
    <h1 class="text-3xl font-extrabold md:text-4xl text-mainColor1">
      Forget password
    </h1>
    <p class="mt-2 text-lg font-semibold md:text-2xl text-mainColor1">
      Enter your e-mail to send a code
    </p>
  </div>
  <form
    [formGroup]="emailForm"
    (ngSubmit)="findEmail()"
    class="flex flex-col w-full gap-3 mt-3"
  >
    <input
      type="email"
      name="email"
      placeholder="E-mail"
      formControlName="email"
      class="border focus:outline-0 border-[#e1e4e4] rounded-xl text-mainColor1 font-semibold bg-[#eef3f3] py-4 px-6 text-lg"
    />
    <button
      class="flex items-center self-center justify-center py-2 mt-5 text-lg font-bold text-center text-white w-fit bg-mainColor1 px-14 rounded-xl"
      type="submit"
    >
      @if (isLoading) {
      <div class="flex items-center justify-center w-full bg-opacity-60">
        <div class="flex items-center justify-center">
          <div
            class="border-4 border-blue-600 border-dashed rounded-full w-7 h-7 animate-spin"
          ></div>
        </div>
      </div>
      } @else { Send OTP }
    </button>
  </form>
</div>
