@if( isLoading()) {
<div class="fixed z-50 top-[40%] lg:left-[50%] left-[40%] bg-opacity-60">
  <div class="flex items-center">
    <div
      class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
    ></div>
  </div>
</div>
} @else {
<div
  class="flex flex-col w-full h-full p-4 space-y-4 sm:p-6 sm:ps-4 sm:space-y-6 gap-y-6"
>
  <div class="flex items-center justify-between px-2">
    <button
      routerLink="add-user"
      class="flex items-center px-8 py-3 text-lg text-white rounded-xl gap-x-2 w-fit bg-activeLink"
    >
      <svg
        width="22"
        height="22"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.5 19.5H14.5"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M16.5 21.5V17.5"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.1586 10.87C12.0586 10.86 11.9386 10.86 11.8286 10.87C9.44863 10.79 7.55863 8.84 7.55863 6.44C7.54863 3.99 9.53863 2 11.9886 2C14.4386 2 16.4286 3.99 16.4286 6.44C16.4286 8.84 14.5286 10.79 12.1586 10.87Z"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.9891 21.8097C10.1691 21.8097 8.35906 21.3497 6.97906 20.4297C4.55906 18.8097 4.55906 16.1697 6.97906 14.5597C9.72906 12.7197 14.2391 12.7197 16.9891 14.5597"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span>Add User</span>
    </button>
    <div class="flex flex-col text-3xl font-medium text-activeLink">
      <h3>
        {{ todayName }}
      </h3>
      <h3>
        {{ todayDate | date : "mediumDate" }}
      </h3>
    </div>
  </div>
  <div class="flex flex-col flex-wrap gap-6 lg:flex-row">
    <div class="basis-[48%] max-h-[340px]">
      <div class="p-4 bg-white border-2 rounded-xl">
        <h2 class="mb-2 text-3xl font-bold ps-4">
          Number of trainees: {{ traineesCount }}
        </h2>
        <app-chart-dashboard
          [traineesCount]="traineesCount"
          [malesCount]="malesCount"
          [femalesCount]="femalesCount"
        />
      </div>
    </div>
    <div class="basis-[48%] max-h-[340px]">
      <div class="h-full p-4 bg-white border-2 pe-8 rounded-xl">
        <h2 class="text-3xl font-bold ps-4">Colleges</h2>
        <div
          class="flex custom-scrollbar flex-col h-[245px] overflow-y-auto w-full mt-6 ps-4 pe-8"
        >
          @for (item of collegesAnalisis; track $index; let odd = $odd) {
          <div class="relative">
            <div class="flex items-center justify-between mb-2 text-xs">
              <div class="text-lg text-black">
                {{ item.name }}
              </div>
              <div
                [ngClass]="odd ? 'text-[#E69C24]' : 'text-[#3D91C7]'"
                class="text-sm font-medium rounded"
              >
                {{ item.count }}/{{ traineesCount }}
              </div>
            </div>
            <div
              class="flex h-2 mb-4 overflow-hidden text-xs bg-gray-100 rounded"
            >
              <div
                [ngClass]="
                  odd ? 'bg-[#E69C24] rounded' : 'bg-[#3D91C7] rounded'
                "
                [style.width.%]="(item.count / traineesCount) * 100"
              ></div>
            </div>
          </div>
          }@empty {
          <p class="text-center text-lg text-[#FF3A29] font-semibold mt-20">
            No Data Yet.
          </p>
          }
        </div>
      </div>
    </div>
    <div class="basis-[48%] min-h-[395px]">
      <div class="h-full p-4 bg-transparent border rounded-xl">
        <div class="flex items-center justify-between w-full px-2">
          <h3 class="text-2xl font-semibold text-center basis-1/3">
            Camps name
          </h3>
          <h3 class="text-2xl font-semibold text-center basis-1/3">Due Date</h3>
          <h3 class="text-2xl font-semibold text-center basis-1/3">Progress</h3>
        </div>
        <div
          class="flex custom-scrollbar flex-col min-h-[320px] max-h-[328px] overflow-y-auto w-full mt-4 pe-2"
        >
          @for (item of dashboardCamps; track item.id; let odd = $odd) {
          <div
            class="flex items-center justify-between w-full py-4 mt-4 bg-white border-2 rounded-lg ps-2"
          >
            <h3 class="text-lg text-center basis-1/3">{{ item.name }}</h3>
            <h3 class="text-lg text-center basis-1/3">
              {{ item.dueDate | date : "mediumDate" }}
            </h3>
            <div
              class="relative flex justify-center pt-4 text-center basis-1/3"
            >
              <div
                class="flex w-1/2 h-2 mb-4 overflow-hidden text-xs bg-gray-100 border rounded"
              >
                <div
                  [ngClass]="
                    item.progress <= 50
                      ? 'bg-[#FF3A29] rounded'
                      : item.progress > 50 && item.progress <= 80
                      ? 'bg-[#F4B626] rounded'
                      : 'bg-[#66AE1F]'
                  "
                  [style.width.%]="item.progress"
                ></div>
              </div>
            </div>
          </div>
          }@empty {
          <p class="text-center text-lg text-[#FF3A29] font-semibold mt-20">
            No Data Yet.
          </p>
          }
        </div>
      </div>
    </div>
    <div class="basis-[48%] w-60 max-h-[340px]">
      <div class="p-4 bg-transparent border min-h-[340px] rounded-xl">
        <h2 class="text-3xl font-bold ps-4">Feedbacks</h2>
        @if (dashboardFeedbacks.length > 0) {
        <app-testimonial
          [inReport]="false"
          [dashboardFeedbacks]="dashboardFeedbacks"
        />
        }@else {
        <p class="text-center text-lg text-[#FF3A29] font-semibold mt-20">
          No Data Yet.
        </p>
        }
      </div>
    </div>
  </div>
</div>
}
