.scroll-host-table::-webkit-scrollbar {
  width: 8px !important;
}

.scroll-host-table::-webkit-scrollbar-track {
  background: #abd0e7;
  border-radius: 2px;
}

.scroll-host-table::-webkit-scrollbar-thumb {
  background: #285c6a;
  border-radius: 10px;
}

.scroll-host-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cdk-drag-preview {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
