@if( isLoading) {
  <div class="fixed z-50 top-[40%] lg:left-[50%] left-[40%] bg-opacity-60">
    <div class="flex items-center">
      <div
        class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
      ></div>
    </div>
  </div>
  } @else {
      <table class="min-w-full  text-center">
        <thead>
          <tr class="bg-white text-[#0A0A0A] text-lg">
            <th class="px-4 py-2 text-left">Name</th>
            <th class="px-4 py-2">Handle</th>
            <th class="px-4 py-2" *ngIf="!responsive.isSmallScreen">Mentor</th>
            <th class="px-4 py-2">Solve</th>
            <th class="px-4 py-2" *ngIf="!responsive.isSmallScreen">Points</th>
          </tr>
        </thead>

        <tbody >
          @for (trainee of greenZone ; track trainee.id ; let i = $index) {
            <tr
            class="my-6 bg-[#41B253] text-white text-center text-base font-medium rounded-lg"
          >
            <td class="p-4 text-left rounded-l-lg" [ngClass]="{'border-y border-left': trainee.id==currentUser.id}">
              <div class="flex items-center gap-3">
                <div class=" relative size-7 bg-white rounded-[6px] text-[#41B253] flex items-center justify-center ">
                  <div class=" absolute left-0 top-0 -translate-x-1/2 -translate-y-1/2">
                    <img src="assets/img_trainee/star.svg">
                  </div>
                  {{i+1}}
                </div>
                {{trainee.firstName +" "+ trainee.middleName + " " + trainee.lastName}}
              </div>
            </td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.codeForceHandle}}</td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.mentorName}}</td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.solvedProblems}}/{{totalProblems}}</td>
            <td class="px-4 py-2 rounded-r-lg" [ngClass]="{'border-y border-right': trainee.id==currentUser.id}">{{trainee.points}}</td>
          </tr>
          }
          @for (trainee of yellowZone ; track trainee.id ; let i = $index) {
          <tr
            class="my-6 bg-[#E69C24] text-white text-center text-base font-medium rounded-lg"
          >
            <td class="p-4 text-left rounded-l-lg" [ngClass]="{'border-y border-left': trainee.id==currentUser.id}">
              <div class="flex items-center gap-3">
                <div class=" relative size-7 bg-white rounded-[6px] text-[#E69C24] flex items-center justify-center ">
                  {{i+1+greenZone.length}}
                </div>
                  {{trainee.firstName +" "+ trainee.middleName + " " + trainee.lastName}}
              </div>
            </td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.codeForceHandle}}</td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.mentorName}}</td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.solvedProblems}}/{{totalProblems}}</td>
            <td class="px-4 py-2 rounded-r-lg" [ngClass]="{'border-y border-right': trainee.id==currentUser.id}">{{trainee.points}}</td>
          </tr>
        }
        @for (trainee of redZone ; track trainee.id ; let i = $index) {
          <tr
            class=" bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg text-[12px] sm:text-[16px] "
          >
            <td class="p-2 sm:p-4 text-left rounded-l-lg" [ngClass]="{'border-y border-left': trainee.id==currentUser.id}">
              <div class="flex items-center gap-3">
                <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
                  {{i+1+greenZone.length+yellowZone.length}}
                </div>
                {{trainee.firstName +" "+ trainee.middleName + " " + trainee.lastName}}
              </div>
            </td>
            <td class="px-4 py-2" [ngClass]="{'border-y': trainee.id==currentUser.id}" >{{trainee.codeForceHandle}}</td>
            <td class="px-4 py-2 " *ngIf="!responsive.isSmallScreen" [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.mentorName}}</td>
            <td class="px-4 py-2 " [ngClass]="{'border-y': trainee.id==currentUser.id}">{{trainee.solvedProblems}}/{{totalProblems}}</td>
            <td class="px-4 py-2 rounded-r-lg" *ngIf="!responsive.isSmallScreen" [ngClass]="{'border-y border-right': trainee.id==currentUser.id}">{{trainee.points}}</td>
          </tr>
        }
        </tbody>
      </table>
    

  }
