<!-- <section class="header" id="header">
  <div class="hero flex flex-col justify-end absolute bg-black bg-opacity-35 inset-0">
    <h1>
      ICPC <span>SOHAG</span> OFFICIAL WEBSITE
    </h1>
    <p class="py-4">
      Here you can learn about our community and be a part of it! If you are looking for a community that provides you with special training and also fun events and contests , then we are the one!
    </p>
  </div>
</section> -->
<section>
  <img
  ngSrc="assets/img_public/bg-hero-section.jpg"
  width="1524"
  height="773"
  class="background-image"
  alt="Background Hero Section"
  priority>

    <div class="overlay">
      <!--  text and content -->
      <h1>
        ICPC <span>SOHAG</span> OFFICIAL WEBSITE
      </h1>
      <p class="py-4">
        Here you can learn about our community and be a part of it! If you are looking for a community that provides you with special training and also fun events and contests , then we are the one!
      </p>
    </div>


</section>
