.ng-select,
.ng-select:focus {
  height: 50px;
}

.ng-select .ng-select-container {
  width: 98% !important;
}

.ng-select .ng-select-container .ng-value-container div.ng-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #c4c3c3;
}

.ng-select span.ng-value-label {
  background-color: #fff;
  color: black;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #fff;
}
