<section class="mt-44">
  <div class="header flex flex-col items-center mb-24">
    <h1>Current Camps</h1>
    <p>Top 3 Trainees</p>
  </div>
  <div class="content relative">
    <div class="flex flex-col gap-14 my-24 w-11/12 mx-auto">
      <!-- Swiper Container with Custom Navigation Buttons -->
      <div class="relative">
        <!-- Swiper Component -->
        <swiper [config]="config1">
          <ng-template swiperSlide>
            <div class="my-container h-[30rem] px-10">
              <h3 class="font-bold text-3xl mt-14">Name</h3>
              <div class="flex justify-around items-center h-full">
                <div class="second flex flex-col items-center">
                  <img
                    src="assets/img_public/camps_img/crown_3.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#3D91C7]"
                    alt=""
                  />
                </div>
                <div class="first flex flex-col items-center self-start">
                  <img
                    src="assets/img_public/camps_img/crown_1.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#FFBA00]"
                    alt=""
                  />
                </div>
                <div class="third flex flex-col items-center">
                  <img
                    src="assets/img_public/camps_img/crown_2.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#EF4A50]"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="my-container h-[30rem] px-10">
              <h3 class="font-bold text-3xl mt-14">Name</h3>
              <div class="flex justify-around items-center h-full">
                <div class="second flex flex-col items-center">
                  <img
                    src="assets/img_public/camps_img/crown_3.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#3D91C7]"
                    alt=""
                  />
                </div>
                <div class="third flex flex-col items-center">
                  <img
                    src="assets/img_public/camps_img/crown_2.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#EF4A50]"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="my-container h-[30rem] px-10">
              <h3 class="font-bold text-3xl mt-14">Name</h3>
              <div class="flex justify-around items-center h-full">
                <div class="first flex flex-col items-center self-start">
                  <img
                    src="assets/img_public/camps_img/crown_1.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#FFBA00]"
                    alt=""
                  />
                </div>
                <div class="third flex flex-col items-center">
                  <img
                    src="assets/img_public/camps_img/crown_2.svg"
                    class="size-10"
                    alt="first"
                  />
                  <img
                    src="assets/img_public/camps_img/Ellipse 3374.jpg"
                    class="rounded-full size-60 border-4 border-[#EF4A50]"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</section>
