<section class="feedbacks mt-28" id="feedback">
  <div class="headers ml-28  relative ">
    <h1 class="my-36">
      Feedbacks
    </h1>
  </div>
   @if(feedBack.length>0){

    <!-- Swiper Container with Custom Navigation Buttons -->
     <div class="relative">
       <div class="custom-buttons w-full bg-red-400 relative">
         <!-- Previous Slide Button -->
         <button (click)="prevSlide()" class="pl-5 min-h-80  absolute top-1/2 left-0 z-10 cursor-pointer">
           <img src="assets/img_trainee/left_arrow.svg" alt="Previous">
         </button>
         <!-- Next Slide Button -->
         <button (click)="nextSlide()" class="pr-5 min-h-80 absolute top-1/2 right-0 z-10 cursor-pointer">
           <img src="assets/img_trainee/right_arrow.svg" alt="Next">
         </button>
       </div>
       <!-- Swiper Component -->
       <swiper [config]="config1" (swiper)="onSwiper($event)" [pagination]="false">
         <!-- Loop through incoming contests and create a slide for each -->
         @for (item of feedBack; track $index) {
          <ng-template swiperSlide >

            <div class="card flex flex-col items-stretch bg-white border p-5 min-h-80 gap-8 w-96 ">
              <div class="flex items-center justify-between w-7/12 mx-auto">
                @for (star of stars; track stars ; let i = $index) {
                  <div class=" star cursor-pointer text-[#FFC529]">
                    <svg
                  class="size-8"
                  viewBox="0 0 18 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                    fill="currentColor"
                  />
                </svg>
                  </div>
                }
              </div>
              <p class="w-9/12 mx-auto">
                {{item.feedback}}
              </p>
            </div>

        </ng-template>
         }
       </swiper>
     </div>
   }@else {
    <div>
      <p class="text-center text-red-600 text-2xl">Sorry No FeedBacks</p>
    </div>
   }


</section>
