<div class="w-full bg-[#FBF0DE] min-h-60 md:mt-80 sm:mt-44 relative">
  <!-- Card positioned at the center -->
  <div
    class="card absolute top-0 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-[500px] min-h-[400px] cursor-pointer"
    (click)="openLink(nextContest.link)"
  >
    <!-- Card with background image -->
    <div class="relative bg-img rounded-[20px] min-w-[500px] min-h-[400px]">
      <!-- Overlay with contest information -->
      <div class="absolute text-white inset-0 rounded-[20px] w-full h-full flex flex-col items-center justify-around bg-black bg-opacity-50">
        <!-- Content inside the overlay -->
        <div class="flex flex-col items-baseline justify-between h-4/5 w-4/5 m-auto">
          <!--  Contest title and name -->
          @if(nextContest){
            <div class="flex flex-col items-baseline">
              <h3 class="text-[1.875rem] font-bold">Next Contest</h3>
              @if(nextContest.name){
                <h1 class="text-[2.5rem] font-bold">{{ nextContest.name }}</h1>
              }
            </div>
            <!-- Contest start time -->
            <h5 class="text-[1.857rem]">
              <span class="flex items-center mb-4">
                <i class="fa-regular fa-clock mr-2"></i>
                <small>
                  Starts In {{ nextContest.startTime | formatDate }}
                </small>
              </span>
            </h5>
          }
          @else {
            <div class="size-full flex items-center justify-center">
              <p class="text-5xl font-bold">
                No Next Contest
              </p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
