<nav class="bg-[#F5F9F9]">
  <div class="flex justify-between px-3 sm:px-9">
    <div class="flex items-center gap-5 right sm:gap-16">
      <div class="self-start px-3 py-4 logo sm:px-7">
        <img routerLink="/" src="assets/img/logo.png" class="w-[63px]" alt="" />
      </div>
      <ul class="flex sm:pt-3">
        @if(!this.responsive.isSmallScreen){
        <li>
          <a routerLink="/"> Home </a>
        </li>
        }
        <li>
          <a routerLink="/" fragment="about-us"> About us </a>
        </li>
        <li>
          <a routerLink="/" fragment="founders"> Founders </a>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-4 pt-2 left">
      <div class="actions flex gap-[5px] flex-col sm:gap-4 sm:flex-row">
        <button class="login-btn" routerLink="/login">login</button>
        @if (!this.responsive.isSmallScreen) {<button
          class="apply-btn"
          routerLink="/registration"
        >
          apply now</button
        >}@else{<button class="apply-btn" routerLink="/registration">
          apply</button
        >}
      </div>
    </div>
  </div>
</nav>
