<nav class="bg-[#F5F9F9]">
  <div class="flex justify-between px-3 sm:px-9">
    <div class="right flex items-center gap-5 sm:gap-16">
      <div class="logo px-3 sm:px-7 py-4 self-start">
        <img src="assets/img/logo.png" class="w-[63px]" alt="">
    </div>
    <ul class="flex sm:pt-3">
      <li>
        <a>
          Home
        </a>
      </li>
      @if(!this.responsive.isSmallScreen){
        <li>
          <a>
            About us
          </a>
        </li>
      }
      <li>
        <a>
          Founders
        </a>
      </li>
    </ul>
    </div>
    <div class="left flex gap-4 items-center pt-2">
      <div class="actions flex gap-[5px] flex-col sm:gap-4  sm:flex-row ">
        <button class="login-btn">login</button>
        @if (!this.responsive.isSmallScreen) {<button class="apply-btn">apply now</button>}@else{<button class="apply-btn">apply</button>}
      </div>
    </div>
  </div>
</nav>
