<section
  class="mt-14 sm:mt-28 py-7 bg-[#F5F9F9] sm:p-24 sm:pr-40"
  id="about-us"
>
  <!-- Section Heading -->
  <h2
    class="uppercase pl-5 sm:pl-0 mb-7 sm:mb-12 text-4xl font-extrabold text-[#002C3D]"
  >
    about us
  </h2>
  <!-- Content -->
  <div class="content px-7">
    <!-- Welcome Section -->
    <div class="capitalize flex sm:items-center flex-col sm:flex-row">
      <h4 class="text-2xl font-extrabold text-[#F8444F]">
        welcome to psolve<span class="text-2xl font-light text-[#F8444F]"
          >_
        </span>
      </h4>
      <p
        class="sub sm:relative sm:top-3 sm:left-1 text-[#002C3D] text-lg font-extrabold"
      >
        where programming training meets precision and personalization.
      </p>
    </div>
    <!-- Paragraph 1 -->
    <p class="text mt-5 text-[#2A8E9E] text-lg font-extrabold">
      <span class="ml-2 sm:ml-11 font-black text-[#002C3D]">We specialize</span>
      in providing comprehensive management solutions for communities and
      companies passionate about programming education. Our platform not only
      tracks trainees’ progress in real time, offering hourly updates on their
      solutions, but also supports the staff who make training successful. From
      heads of training to mentors, we help streamline operations and ensure
      every trainee is paired with the right mentor for their needs.
    </p>
    <!-- Paragraph 2 -->
    <p class="text my-5 text-[#2A8E9E] text-lg font-extrabold">
      <span class="ml-2 sm:ml-11 font-black text-[#002C3D]">What sets us</span>
      apart is our commitment to data-driven insights. Our real-time tracking
      and management tools empower leaders to make informed decisions, refine
      their strategies, and drive continuous improvement. Whether you're
      overseeing a large team or guiding an individual trainee, we’re here to
      help you achieve the best results.
    </p>
    <!-- Paragraph 3 -->
    <p class="text w-2/3 text-[#2A8E9E] text-lg font-extrabold">
      <span class="ml-2 sm:ml-11 font-black text-[#002C3D]">At PSØlve,</span> we
      don’t just manage training—we optimize it for everyone involved. Let’s
      shape the future of programming education together.
    </p>
  </div>
</section>
