<div class="m-auto mt-8">
  <div class="w-full py-4 text-white bg-gray-800 ps-14 header">
    <div class="container mx-auto">
      <p class="text-3xl font-semibold">Terms and Conditions for PSolve</p>
    </div>
  </div>

  <div class="py-6">
    <div class="px-4 mx-auto max-w-7xl">
      <div class="text-gray-800">
        <h2 class="mb-4 text-2xl font-semibold">Terms and Conditions</h2>
        <p>Last updated: February 15, 2025</p>

        <p>
          These Terms and Conditions outline the rules and regulations for the
          use of PSolve’s website and services. By accessing or using the
          Service, you agree to comply with these terms.
        </p>

        <h3 class="mt-6 text-xl font-semibold">1. Acceptance of Terms</h3>
        <p>
          By using our website or services, you agree to these Terms and
          Conditions. If you do not agree with any part of the terms, please do
          not use our services.
        </p>

        <h3 class="mt-6 text-xl font-semibold">2. Modifications to Terms</h3>
        <p>
          We may revise and update these Terms from time to time. Any changes
          will be communicated on this page and effective once posted. Please
          review the terms periodically.
        </p>

        <h3 class="mt-6 text-xl font-semibold">3. User Responsibilities</h3>
        <ul class="pl-6 list-disc">
          <li>
            Ensure that your use of the Service complies with all local laws and
            regulations.
          </li>
          <li>
            Do not use the Service for illegal activities or any purpose that
            could harm others.
          </li>
          <li>
            Provide accurate and truthful information when using the Service.
          </li>
        </ul>

        <h3 class="mt-6 text-xl font-semibold">4. Intellectual Property</h3>
        <p>
          All content provided on the Service, including text, graphics, logos,
          and trademarks, are the property of PSolve and are protected by
          intellectual property laws.
        </p>

        <h3 class="mt-6 text-xl font-semibold">5. Limitation of Liability</h3>
        <p>
          PSolve will not be liable for any damages resulting from the use or
          inability to use the Service, including direct, indirect, incidental,
          or consequential damages.
        </p>

        <h3 class="mt-6 text-xl font-semibold">6. Termination of Access</h3>
        <p>
          We may suspend or terminate your access to the Service at any time,
          without notice, for violations of these Terms and Conditions.
        </p>

        <h3 class="mt-6 text-xl font-semibold">7. Governing Law</h3>
        <p>
          These Terms will be governed by and construed in accordance with the
          laws of Egypt, without regard to its conflict of law principles.
        </p>

        <h3 class="mt-6 text-xl font-semibold">8. Contact Information</h3>
        <p>For any questions about these Terms, please contact us at:</p>
        <ul class="list-none">
          <li>
            Email:
            <a href="mailto:psolvecompany@gmail.com" class="text-blue-600">{{
              "psolvecompany@gmail.com"
            }}</a>
          </li>
          <li>
            Phone:
            <a href="tel:+201123652462" class="text-blue-600">+201123652462</a>
          </li>
          <li>
            Phone:
            <a href="tel:+201123652462" class="text-blue-600">+201091024390</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
