<div class="flex flex-col w-full">
  <h1
    class="absolute top-7 font-bold hidden cursor-pointer md:block z-[50] text-2xl transition-all duration-500"
    [ngClass]="ocSidebarService.isOpen() === 'show' ? ' left-80' : ' left-36'"
    routerLink="/head_of_camp/attendance"
  >
    Attendance
  </h1>
  <h1
    routerLink="/head_of_camp/attendance"
    class="mb-6 text-2xl font-bold transition-all duration-500 md:hidden ps-4"
  >
    Attendance
  </h1>
  <div
    class="sticky top-0 flex w-full py-4 overflow-x-auto border-b scroll-host-table"
  >
    @for (session of allSesions; track session.id; let i = $index) {
    <div
      (click)="onTabClick(session.id)"
      class="w-full px-4 py-2 font-semibold rounded-lg cursor-pointer whitespace-nowrap"
      [ngClass]="{
        ' bg-mainColor1 text-white': activeTab === session.id,
      }"
    >
      {{ session.topic }}
    </div>
    }
  </div>
  @if( isLoading()) {
  <div class="fixed z-50 top-[50%] lg:left-[50%] left-[40%] bg-opacity-60">
    <div class="flex items-center">
      <div
        class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
      ></div>
    </div>
  </div>
  } @else {
  <div
    style="max-height: calc(100vh - 205px)"
    class="overflow-y-auto border-b-2 rounded-lg border-subColor2 pe-2 scroll-host-table"
  >
    <table
      class="w-full text-center bg-white rounded-lg table-auto text-mainColor1"
    >
      <thead
        class="text-[13px] top-0 z-[1150] sticky md:text-base font-semibold bg-[#DEDFE1]"
      >
        <tr>
          <th class="p-4 text-left whitespace-nowrap">Name</th>
          <th class="p-4 text-right whitespace-nowrap pe-12">Attendance</th>
        </tr>
      </thead>
      <tbody>
        @for (item of allTraniees; track item.id; let rowIndex = $index; let
        first = $first) {
        <tr
          class="font-semibold border-b-8 border-mainColor4"
          [class.border-t-8]="first"
        >
          <td class="p-4 text-left bg-white whitespace-nowrap">
            {{ item.firstName }} {{ item.middleName }} {{ item.lastName }}
          </td>
          <td class="py-4 text-right pe-12 rounded-e-lg">
            <label
              [ngClass]="item.isAttend ? 'bg-[#66AE1F]' : 'bg-[#ff0000]'"
              class="relative inline-flex items-center w-20 p-1 transition-all duration-500 rounded-full cursor-pointer"
            >
              <input
                type="checkbox"
                class="sr-only peer"
                [checked]="item.isAttend"
                (change)="toggleStatus(item.id, $event)"
              />

              @if (item.isAttend) {
              <div
                class="flex items-center justify-center w-6 h-6 transition-all duration-500 bg-white rounded-full translate-x-11"
              >
                <svg
                  width="15"
                  height="14"
                  class="text-green-500"
                  viewBox="0 0 20 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 10.5L8.6 15L17 3"
                    stroke="#66AE1F"
                    stroke-width="5"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              }@else {
              <div
                class="flex items-center justify-center w-6 h-6 transition-all duration-500 translate-x-0 bg-white rounded-full"
              >
                <svg
                  width="14"
                  class="text-red-500"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_3101_12224)">
                    <path
                      d="M11 3L3 11"
                      stroke="#FF0000"
                      stroke-width="5"
                      stroke-linecap="round"
                    />
                    <path
                      d="M11 11L3 3"
                      stroke="#FF0000"
                      stroke-width="5"
                      stroke-linecap="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_3101_12224">
                      <rect width="14" height="14" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
              }
            </label>
          </td>
        </tr>
        }
      </tbody>
      <tfoot class="bg-[#DEDFE1] rounded-lg">
        <tr>
          <td colspan="2" class="p-3 rounded-bl-lg rounded-br-lg"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  }
</div>
